<div class="container mt-5">
    <h1 class="mb-3">Aggiungi nuovo studente</h1>
    <!-- <form hx-post="/students/create" hx-swap="outerHTML" hx-redirect="true" class="row g-3"> -->
        <form hx-post="/students/create" hx-target="#response" hx-swap="outerHTML" hx-redirect="true" class="row g-3">
    <!-- <form hx-post="/classes/create" hx-target="#response" hx-swap="outerHTML"> -->
        
        <!-- Name -->
        <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" id="name" name="name" class="form-control" required>
            <div class="invalid-feedback">
                Inserisci il nome dello studente.
            </div>
        </div>
        
        <!-- Last name -->
        <div class="col-md-6 mb-3">
            <label for="lastname" class="form-label">Cognome:</label>
            <input type="text" id="lastname" name="lastname" class="form-control" required>
            <div class="invalid-feedback">
                Inserisci il cognome dello studente.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="date">Data di nascita:</label>
            <input type="date" id="date" name="date">
            <div class="invalid-feedback">
                Inserisci la data di nascita dello studente.
            </div>

        </div>

        <!-- Class Selection -->
        <div class="col-md-6 mb-3">
            <label for="idclass" class="form-label">Classi:</label>
            <select id="idclass" name="idclass" class="form-select" required>
                {{range .Classes}}
                <option value="{{.Id}}">{{.Year}}{{.Section}} ({{.Major}})</option>
                {{end}}
            </select>
            <div class="invalid-feedback">
                Seleziona una classe.
            </div>
        </div>
        
        <!-- Submit Button -->
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Aggiungi studente</button>
        </div>
    </form>

    <!-- Element to display the server response -->
    <div id="response" class="mt-3"></div>
</div>
