package views 

import ("github.com/SassoStorTo/studenti-italici/pkg/models")

templ TableUsers(users []models.User) {
    <table class="table-ext">
        <thead>
            <tr>
                <th> </th> <!-- spazio per l'icona -->
                <th>Nome </th>
                <th>Email </th>
                <th>Azioni </th> <!-- is admin  is editor -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <div class="divinterno">
                        <table class="table-int">
                            <tbody>
                                for _, user := range users {
                                    <tr>
                                        <td> <img src={user.Picture} alt="foto"/> </td>
                                        <td> { user.Name } </td>
                                        <td> { user.Email } </td>
                                        <td> 
                                            <div>
                                                <button type="button">Button 1</button>
                                                <button type="button">Button 2</button>
                                                <button type="button">Button 3</button>
                                            </div>
                                        </td>
                                    </tr> <!-- Added closing tag for <tr> -->
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}
