<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{.TableTitle}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Anno </th>
                            <th>Sezione </th>
                            <th>Articolazione </th>
                            <th>Anno scolastico di inizio</th>
                            <th>Numero di studenti </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Classes}}
                            <tr hx-swap-oob="true" id="userRow{{.Id}}" class="text-centre">
                                <td>{{.Year}}</td>
                                <td>{{.Section}}</td>
                                <td>{{.Major}}</td>
                                <td>{{.ScholarYearStart}}</td>
                                <td>{{.NumberStudents}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->