<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
</head>
<body>
    <h1>Carica un File</h1>
    <form hx-post="/upload" hx-encoding="multipart/form-data" hx-trigger="submit" hx-target="#response">
        <input type="file" id="fileInput" name="file">
        <button type="submit">Carica</button>
    </form>
    <div id="response"></div>

    <hr class="sidebar-divider d-none d-md-block">

    <h1>Scarica file</h1>
    <button hx-get="/download" hx-target="body" hx-swap="outerHTML">Scarica File</button>
</body>
</html>
